$bg: rgb(16,16,16);

.banner{
    height: 400px;
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
opacity: 0.4;
padding: 3rem;
        box-sizing: border-box;
    }
    h1,p{
        color: white;
        font-size: 2rem;
        font-weight: 300;
        width: 40%;
        z-index: 10;

    }
    p{
        font-size: 1rem;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    >div{
        display: flex   ;
    }
    button{
        padding: 1rem;
        width: 150px;
        background-color: white;
        outline: none;
        border: none;
        z-index: 10;
        border-radius: 5px;
        cursor: pointer;
        margin: 1rem;
        font-size: 1rem;
        transition: all 0.5s;
        
        &:hover{
            opacity: 0.6;
        }
        &:nth-child(odd){
            background-color: white;
            color: black;
        }
        &:nth-child(even){
            background-color: rgb(61, 58, 58);
            color: white;
        }
        svg{
            font-size: 1rem;
            margin: 0 10px;
        }

    }
   
}
.row {
    background-color: $bg;
    padding: 0.5rem;
    
    >h2{
       font-weight: 400;
    }
    >div {
        display: flex;
        overflow-x: auto;
        padding: 1rem;
    }
}

.card{
    width: 160px;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.05);
    }
}

.genreBox {
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: $bg;
    >a{
        color: black;
        background-color: white;
        padding: 1rem 0;
        margin: 1rem;
        border-radius: 5    px;
        transition: all 0.5s;
        min-width: 10rem;
        display: flex;
        justify-content: center;
        text-align: center;
        &:hover{
            background-color: rgb(236, 236, 236);
        }
    }
}
   
